.card {
  @apply max-w-sm;
}

.swipe-card{
  div{
    &:last-child {
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      transition: all .25s ease-in-out;
    }
  }
  &:hover {
    div{
      &:last-child {
        top: 0%;
      }
    }
  }
}
