<div class="container px-2 xl:px-0 mx-auto pt-5">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
    <div class="rounded-lg p-4 bg-white">
      <div class="flex text-green-500">
        <div class="flex justify-center items-center w-6 h-6 rounded-full bg-green-200 mr-2">
          <ngd-icons name="long_up_arrow" class="w-4 transform rotate-45" ></ngd-icons>
        </div>
        <p class="font-bold">56.1 %</p>
      </div>
      <div class="flex w-full h-32"></div>
      <div class="flex">
        <div class="flex justify-center items-center w-12 h-12 rounded-lg bg-green-200 mr-4">
          <ngd-icons name="long_up_arrow" class="w-4 transform rotate-45" ></ngd-icons>
        </div>
        <div>
          <p class="text-xs uppercase text-gray-600">Total lessons</p>
          <p class="font-bold text-3xl leading-7">123</p>
        </div>
      </div>
    </div>
    <div class="rounded-lg p-4 bg-white">
      <div class="flex text-red-500 font-bold">
        <div class="flex justify-center items-center w-6 h-6 rounded-full bg-red-200 mr-2 transform rotate-90">
          <ngd-icons name="long_up_arrow" class="w-4 transform rotate-45"></ngd-icons>
        </div>
        <p class="font-bold">56.1 %</p>
      </div>
      <div class="flex w-full h-10"></div>
      <div class="flex"></div>
    </div>
    <div class="rounded-lg p-4 bg-white">
      <div class="flex text-green-500">
        <div class="flex justify-center items-center w-6 h-6 rounded-full bg-green-200 mr-2">
          <ngd-icons name="long_up_arrow" class="w-4 transform rotate-45" ></ngd-icons>
        </div>
        <p class="font-bold">56.1 %</p>
      </div>
      <div class="flex w-full h-10"></div>
      <div class="flex"></div>
    </div>
    <div class="rounded-lg p-4 bg-white">
      <div class="flex text-red-500 font-bold">
        <div class="flex justify-center items-center w-6 h-6 rounded-full bg-red-200 mr-2 transform rotate-90">
          <ngd-icons name="long_up_arrow" class="w-4 transform rotate-45"></ngd-icons>
        </div>
        <p class="font-bold">56.1 %</p>
      </div>
      <div class="flex w-full h-10"></div>
      <div class="flex"></div>
    </div>
  </div>
</div>
